.card_container {
    display: flex;
    box-shadow: .2em .2em .8em black;
    height: 15em;
  }
  
  .card_imagem {
    background-position: center;
  }

  h1 {
    font-size: 25px;
  }

  .card_dados {
    display: flex;
    flex-direction: column;
    margin: 15px;
  }

  .nome_usuario {
    margin-top: 15px;
    margin-left: 250px;
    margin-bottom: 15px;
  }    